{% extends 'components/navbar.html' %}
{% load static %}

{% block content %}
<h2 class="mt-3">Профиль</h2>

<body style="background-color: dimgray">  
    <div class="mt-5">
        <img src="/media/{{ user.profile.logo }}" alt="Profile Picture" style="width: 130px; height: 130px; border-radius: 50%;">
        <h2 class="mt-5">{{ user.username }}</h2>
        <h3 class="mt-2">{{ user.first_name }}</h3>
        <h3 class="mt-2">{{ user.last_name }}</h3>
        <h3 class="mt-2">{{ user.email }}</h3>
        <h3 class="mt-2">{{ user.profile.age }}</h3>
        <h3 class="mt-2">{{ user.profile.bio }}</h3>
        <h3 class="mt-2">{{ user.date_joined }}</h3>
        <h3 class="mt-2">{{ user.last_login }}</h3>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% for post in user.cars.all%}
        <div class="card" style="width: 18rem;">
            {% if post.image %}
                <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'notfound.webp' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
            </div>
            <div class="card-body">
                <a href="/posts/{{ post.id }}" class="card-link">Подробнее..</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>  

{% endblock %}
